<nav class="sidebar-container" [ngClass]="{ closed: !isOpen }">
  <div class="header-sidebar-container">
    <div class="logo-container">
      <img src="logo.png" alt="logo" />
      <p>Educraft</p>
    </div>
    <i
      class="pi pi-times"
      style="font-size: 1rem"
      (click)="toggleSidebar()"
    ></i>
  </div>
  <div class="header-sidebar-off">
    <div class="icon-menu" (click)="toggleSidebar()">
      <i class="pi pi-bars" style="font-size: 1rem"></i>
    </div>
  </div>
  <div class="nav-container">
    <ng-container class="nav-container">
      <div class="menu-link-container" *ngFor="let item of menuItems">
        <div class="icon-container">
          <i class="pi pi-check" style="font-size: 1rem"></i>
        </div>
        <a [routerLink]="item.href" class="">{{ item.label }}</a>
      </div>
    </ng-container>
  </div>
</nav>
